.social {
  transition: color ease-out 250ms;
}

.hover-blue:hover {
  @apply text-blue-700;
}

.hover-pink:hover {
  @apply text-pink-700;
}

.hover-red:hover {
  @apply text-red-700;
}

.hover-lightblue:hover {
  @apply text-blue-400;
}

.hover-purple:hover {
  @apply text-purple-700;
}

.skew {
  transform: skewY(3deg);
}

.z-neg {
  z-index: -1;
}

.bg-maeve-blue {
  background: #c2e0db;
}

.text-maeve-blue {
  color: #1f584f;
}

.bg-maeve-pink {
  background: #ffcecf;
}

.text-maeve-pink {
  color: #ffcecf;
}
